<div class="mycard">
  <div class="backbtn33">
    <%= link_to matchings_path do %>
    <%= image_tag "backblack.png", alt: "back" %>
    <% end %>
  </div>
  <div class="photoedit"> <%= cl_image_tag current_user.photo.key%> </div>
<div class="montitre">
<h2> Profile <%= current_user.nickname.capitalize %></h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>


    <%= f.input :photo,
                as: :file,
                required: false %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :nickname,
                required: false,
                input_html: { autocomplete: "nickname" }%>

    <%= f.input :city,
                required: false,
                input_html: { autocomplete: "city" }%>


    <%= f.input :instrument,
                required: false,
                input_html: { autocomplete: "instrument" }%>

    <%= f.input :bio,
                required: false,
                input_html: { autocomplete: "bio" }%>

    <%= f.input :experience,
                required: false,
                input_html: { autocomplete: "experience" }%>

    <%= f.input :style,
                required: false,
                input_html: { autocomplete: "style" }%>

    <%= f.input :birth_date,
                required: false,
                input_html: { autocomplete: "birth_date" }%>


    <%= f.input :password,
                hint: "Laissez le champ vide si vous ne souhaitez pas changer votre mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Saisir le mot de passe actuel pour valider les changements",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="mybtn33">
    <%= f.button :submit, "Mettre à jour" %>
  </div>
<% end %>

<h4>Supprimer mon compte:</h4>

<div class="d-flex align-items-center">
  <div>Déçu ?</div>
  <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous etes sur ? vous allez nous manquer ..." }, method: :delete, class: "btn btn-link" %>
</div>

    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "mybtn3" %>
</div>
