  <div class="retour1">
   <%= image_tag "gauche.png", alt: "back" %>
  </div>
  <div class="retour2">
   <%= image_tag "gauche.png", alt: "back" %>
  </div>
  <div class="retour3">
   <%= image_tag "gauche.png", alt: "back" %>
  </div>
  <div class="retour4">
   <%= image_tag "droite.png", alt: "back" %>
  </div>
  <div class="retour5">
   <%= image_tag "droite.png", alt: "back" %>
  </div>
  <div class="retour6">
   <%= image_tag "droite.png", alt: "back" %>
  </div>

<div class="mycard">
<div class="monh1"> <p>PROFIL</p> </div>
  <div class="backbtn33">
    <%= link_to matchings_path do %>
    <%= image_tag "backblack.png", alt: "back" %>
    <% end %>
  </div>
  <div class="photoedit"> <%= cl_image_tag current_user.photo.key%> </div>
<div class="montitre">
<h2> <%= current_user.nickname.upcase %></h2>
<h4> <%= current_user.instrument.capitalize %></h4>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>


    <%= f.input :photo,
                html5: true,
                as: :file,
                required: false %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :nickname,
                required: false,
                input_html: { autocomplete: "nickname" }%>

    <%= f.input :instrument,
                as: :radio_buttons,
                collection: User::INSTRUMENTS,
                required: false,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                input_html: { class: "tag-instrument" }%>

    <%= f.input :city,
                required: false,
                input_html: { autocomplete: "city" }%>

    <%= f.input :experience,
                as: :radio_buttons,
                collection: User::EXPERIENCES,
                required: false,
                                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper2',
                input_html: { class: "tag-experience" }%>

    <%= f.input :bio,
                html5: true,
                :as => :text,
                required: false,
                input_html: { :rows => 7 , autocomplete: "bio" }%>

    <%= f.input :style,
                as: :radio_buttons,
                collection: User::STYLES,
                required: false,
                                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                input_html: { class: "tag-style" }%>

    <%= f.input :birth_date,
                html5: true,
                required: false,
                input_html: { autocomplete: "birth_date" }%>


    <%= f.input :password,
                hint: "Laissez le champ vide si vous ne souhaitez pas changer votre mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Saisir le mot de passe actuel pour valider les changements",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
<div class="mesboutons">
 <%= f.button :submit, "Mettre à jour", class: "mybtn4" %>
<% end %>
<%= link_to "Se Déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "mybtn5" %>
<%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous etes sur ? vous allez nous manquer ..." }, method: :delete, class: "mybtn6" %>
</div>
</div>
