<div class="bodyindex">
<div class="banner">
  <div class="small"><a href="#"> <%= image_tag "reglage.png", alt: "le logo" %></a></div>
  <div class="biglogo"><a href="/">  <%= image_tag "logo.png", alt: "le logo" %> </a></div>
  <div class="small"><a href="#"> <%= image_tag "message.png", alt: "le logo" %></a></div>
</div>

<div class="mycard">
      <div class="profiles">
  <% @matchings.each do |matching| %>
        <div class="profile">
          <%= link_to matching_path(matching) do %>
            <div class="profile__image" style="background-image:  url('<%= cl_image_path User.find(matching.user_two_id).photo.key%>')">
              <div class="profile__infos">
                <div class="profile__name"><span class="profile__age"> <strong><%= matching.second_associated_user.nickname.upcase %></strong> , <%= matching.second_associated_user.age %> ans <p class="textop" ><%= matching.second_associated_user.city %> ,<%= matching.second_associated_user.instrument.capitalize %> </p></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="bottombar">
          <div class="bottombar__button">
            <a href="#"> <%= image_tag "croix.png", alt: "le logo" %></a>
          </div>
          <div class="bottombar__button">
            <a href="#"> <%= image_tag "coeur.png", alt: "le logo" %></a>
          </div>
        </div>
  <% end %>
    </div>
</div>
</div>

<script src='hammer.min.js'></script>
<script src='main.js'></script>
