<div class="bodyindex" data-controller="swipe">
  <div class="banner">
    <div class="small"><a href="users/edit"> <%= image_tag "reglage.png", alt: "le logo" %></a></div>
    <div class="biglogo"><a href="/">  <%= image_tag "logo.png", alt: "le logo" %> </a></div>
    <div class="small">
      <%= link_to chatrooms_path do %>
        <%= image_tag "message.png", alt: "le logo" %>
      <% end %>
    </div>

  </div>

  <div class="mycard">
    <div class="profiles">
      <% @matchings.each do |matching| %>
        <div class="profile">
          <%= link_to matching_path(matching) do %>
            <div class="profile__image" style="background-image:  url('<%= cl_image_path User.find(matching.user_two_id).photo.key%>')">
              <div class="profile__infos">
                <div class="profile__name">
                  <span class="profile__age">
                    <strong><%= matching.second_associated_user.nickname.upcase %>,</strong>
                     <%= matching.second_associated_user.experience %>
                     <p class="textop" >
                      <%= matching.second_associated_user.age %> ans <%= matching.second_associated_user.city %> <%= user_instrument(matching.second_associated_user)%>  </p>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>
      <div class="bottombar">
        <%if @matchings.present?%>
          <div class="bottombar__button">
            <%= button_to refuse_matching_path(@matchings.last),
              method: :patch,
              data: { turbo: false, swipe_target: "refuseButton" } do %>
                <%= image_tag "croix.png", alt: "Le logo" %>
              <% end %>
          </div>
          <div class="bottombar__button">
            <%= button_to accept_matching_path(@matchings.last),
            method: :patch,
            data: {turbo: false, swipe_target: "acceptButton"} do %>
              <%= image_tag "coeur.png", alt: "Le logo" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
