<div class="show">
<%=@matching.user.profile_pic%>
  <h1><strong><%=@matching.user.nickname.upcase %></strong>, <%= @matching.user.instrument %></h1>
<div class="containershow"></div>

  <h5><%= @matching.user.city %>, <%= @matching.user.country.upcase %></h5>

  <ul>
  <li><%= @matching.user.gender %></li>
  <li><%= @matching.user.birth_date %></li>
  <li><%= @matching.user.style %></li>
  <li>expérience : <%= @matching.user.experience %> ans</li>
  </ul>
  <br></br>
    <p><%= @matching.user.bio.capitalize %>.</p>
</div>
</div>
