   <div class="backbtn333" id="backfr" >
    <%= link_to chatrooms_path do %>
    <%= image_tag "backblack.png", alt: "back" %>
    <% end %>
    </div>
<div class="container chatroom"
  data-controller="chatroom-subscription"

  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="titlemessage"><%= cl_image_tag current_user.photo.key%> </div>
  <div data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <div id="positionmsg">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content, label: false, placeholder: "...", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Envoyer", class: "mybtn44" %>
    <% end %>
  </div>
</div>
